<nav class="container d-flex justify-content-between align-items-center">
    <div class="ms-5">
        <img src="../../../assets/images/pokemon-logo-png-1421.png" alt="pokemon_logo" width="150" height="150">
    </div>
    
    <ng-container *ngIf="user !== undefined">
        <div class="row">
                <a class="me-4 col btn btn-primary" routerLink="/catalogue">Catalogue</a>
                <a class="me-5 col btn btn-primary" routerLink="/trainer">Trainer</a>
        </div>
    </ng-container>
</nav>

