.btn-catch {
    color: black;
}

.btn-caught {
    color: #2A6DFF;
}

.btn-gen {
    border-radius: 50%;
    border: none;
    background-color: #FFCD02;
    position: relative;
    top: 5px;
    margin-left: 10px;
}